.font-poppins {
    font-family: 'Poppins';
    text-align: left;
    padding-left: 10px;
}
input {
    width: 426px;
    height: 53px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
}
h3 {
    width: 512px;
    height: 78px;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #000000;
}