main {
    font-family: 'Poppins';
}
.row {
    min-height: 900px;
}
.col-left {
    background: #FB4F4F;
}

/* ---- */
.card {
    width: 552px;
    padding: 50px;

    background: #FFF9F9;
    mix-blend-mode: normal;
    border: 0.0005px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);

    border-radius: 30px;
}

h3 {
    font-weight: 600;
    font-size: 36px;
}
p {
    margin-top: -5px;
}

/* --- */

@media screen and (max-width: 768px) {
    .col-left img {
        max-width: 300px;
    }
    .card {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}