.main-body {
    text-align: center;
    display: flex;
    padding: 350px 350px 350px 350px;
    background-color: #DFBCA8;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-right: 100px;
}

.body {
    display: flex;
    background-color: #EFDDC8;
    height: 550px;
    width: 60%;
    border-radius: 18px;
    padding: 100px 100px 100px 100px;
    margin-left: 450px;
    padding-right: 30px;
}

.font-poppins {
    font-family: 'Poppins';
    text-align: left;
    padding-left: 10px;
}
.input {
    width: 426px;
    height: 53px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
}
.h3 {
    width: 512px;
    height: 78px;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #000000;
}

.title{
    position: absolute;
    width: 577px;
    height: 174px;
    left: 70px;
    top: 70px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 90px;
    
    color: #FFFF;
    }

.image{
    position: absolute;
   width: 600px;
    height: 400px;
    left: 50px;
    top: 250px;
   
   /*  background: url(./Icon.png);*/
}